@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=MonteCarlo&family=Satisfy&display=swap');


body {
    margin: 0;
    overflow: hidden;
    background-color: #161B33;
}

#house {
    width: 90vw;
    height: auto;
    max-height: 100vh;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


.clickable-text {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5px;
    text-align: center;
    text-decoration: underline;
    text-anchor: middle;
    cursor: pointer;
    animation: blink 1.5s ease-in-out infinite; /* Blinking animation */
}

@keyframes blink {
    0%, 100% {
        opacity: 0; /* Start and end with 0 opacity (invisible) */
    }
    50% {
        opacity: 1; /* Middle of the animation (visible) */
    }
}

.welcome {
    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%; 
    height: 100%; 
    text-align: center; 
    fill: white; 
    font-size: 3.5px;
    line-height: 66px; 
    letter-spacing: 3px; 
    word-wrap: break-word;
    text-anchor: middle;
}

.sign {
    fill: #A69CAC;
    font-size: 7px;
    font-family: "MonteCarlo", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5px;
    word-wrap: break-word;
}

.credit {
        fill: #fff; 
        font-size: 2px; 
        opacity: .7; 
    }
    